<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand h1">Eyekeyuh</span>
</nav>

<div class="container-fluid text-center mt-4 mb-4">
    <h1>Products</h1>
</div>


<div class="container-fluid">
    <div class="row">
            {{#each product}}
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src={{image}}>
                    <p class="product-name">{{name}}</p>
                    <p class="product-price">{{price}}</p>
                    <p class="product-stock">Remaining: {{stock}}</p>
                </div>
            {{/each}}
    </div>
</div>