<style>
    body {
        background: url("assets/img/launch.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand h1">Eyekeyuh</span>
</nav>

<div class="container-fluid col-10 offset-1 col-sm-6 offset-sm-3 col-md-8 offset-md-2 col-lg-4 offset-lg-4 banner text-center pt-3 pb-3">
    <h1>Furniture Collection</h1>
    <a class="btn shop-button" href="/shop">Shop Now</a>
</div>